:root {
  --black: #000;
  --blue: blue;
  --red: red;
  --yellow: gold;
  --orange: orange;
  --green: #00a300;
  --lightgreen: #00d000;
  --turqoise: turquoise;
  --teal: teal;
  --purple: purple;
  --pink: magenta;
  --white: #fff;
  --primary: var(--green);
  --primary-light: var(--lightgreen);
  --secondary: var(--green);
  --accent: var(--red);
  --danger: var(--red);
  --warning: var(--purple);
  --success: var(--green);
  --info: var(--teal);
  --dark: #1b1b1b;
  --light: whitesmoke;
  --bg-primary: var(--white);
  --bg-secondary: var(--white);
  --text-primary: var(--black);
  --text-secondary: var(--black);
  --base-font: Arial;
  --display-font: 'Bebas Neue', cursive;
  --heading-font: var(--base-font);
  --base-font-size: 18px;
  --h1: 60px;
  --h2: 40px;
  --h3: 32px;
  --h4: 28px;
  --h5: 24px;
  --h6: 22;
  --lead: 32px;
  --small: 16px;
  --mini: 14px;
  --base-font-weight: 400;
  --bolder: 700;
  --bold: 600;
  --thin: 300;
  --navbar-height: 90px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  background-color: var(--bg-secondary);
}

main {
  min-height: calc(100vh - var(--navbar-height));
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--bolder);
  font-family: var(--heading-font);
}

h1, .h1 {
  font-size: var(--h1);
}

h2, .h2 {
  font-size: var(--h2);
}

h3, .h3 {
  font-size: var(--h3);
}

h4, .h4 {
  font-size: var(--h4);
}

h5, .h5 {
  font-size: var(--h5);
}

h6, .h6 {
  font-size: var(--h6);
}

p {
  font-family: var(--base-font);
  font-weight: var(--base-font-weight);
}

.lead {
  font-size: var(--lead);
  font-weight: var(--thin);
}

.mini {
  font-size: var(--mini);
  font-weight: var(--base-font-size);
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero {
  height: calc(100vh - var(--navbar-height));
}

.hero-full {
  height: 100vh;
  margin: calc(var(--navbar-height) * -1);
}

.hero-half {
  height: 50vh;
  min-height: 500px;
}

.hero-home {
  padding-top: 200px;
}

.hero-home .hero-title {
  margin-bottom: 20px;
}

.hero-home .hero-subtitle {
  margin-bottom: 50px;
}

.navbar {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  -webkit-box-shadow: 0 0 5px lightgrey;
          box-shadow: 0 0 5px lightgrey;
}

.navbar a {
  color: var(--text-primary);
}

.navbar a:hover {
  color: var(--primary);
}

.navbar .nav-link {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar .navbar-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: calc(var(--navbar-height) * .7);
  font-family: var(--display-font);
  white-space: nowrap;
}

.navbar .navbar-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--navbar-height);
}

.navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.navbar .icon {
  --size: 40px;
  -webkit-box-shadow: 0 0 5px var(--text-primary);
          box-shadow: 0 0 5px var(--text-primary);
  font-size: calc(var(--size) * .6);
  height: var(--size);
  width: var(--size);
  background-color: var(--text-primary);
  color: var(--bg-primary);
  border-radius: 100vh;
}

.navbar .icon:hover {
  -webkit-box-shadow: 0 0 5px var(--primary);
          box-shadow: 0 0 5px var(--primary);
  background-color: var(--primary);
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skatepark-hours {
  white-space: nowrap;
}

.skatepark-listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  position: relative;
}

.skatepark-filter-sidebar {
  width: 20%;
  padding-top: 20px;
  min-height: calc(100vh - var(--navbar-height));
  min-width: 200px;
  -webkit-box-shadow: 0 5px 5px lightgrey;
          box-shadow: 0 5px 5px lightgrey;
  position: -webkit-sticky;
  position: sticky;
}

.skatepark-list-body {
  padding-top: 20px;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
}

.skatepark-list-body h1 {
  margin-bottom: 20px;
}

.skatepark-list .skatepark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-shadow: 0 2.5px 5px lightgrey;
          box-shadow: 0 2.5px 5px lightgrey;
  -webkit-transition: background-color .2s ease, -webkit-box-shadow .2s ease;
  transition: background-color .2s ease, -webkit-box-shadow .2s ease;
  transition: background-color .2s ease, box-shadow .2s ease;
  transition: background-color .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.skatepark-list .skatepark span i {
  margin-right: 7.5px;
}

.skatepark-list .skatepark:hover {
  -webkit-box-shadow: 0 2.5px 5px var(--primary);
          box-shadow: 0 2.5px 5px var(--primary);
}

.skatepark-list .skatepark:hover .skatepark-name {
  color: var(--primary);
}

.skatepark-list .skatepark .skatepark-thumbnail {
  height: 100%;
  min-width: 300px;
  background-size: cover;
  background-position: center;
}

.skatepark-list .skatepark .skatepark-body {
  padding: 10px 10px 10px 20px;
  color: black;
  width: 100%;
}

.skatepark-list .skatepark .skatepark-name {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding-bottom: 5px;
}

.skatepark-list .skatepark .skatepark-address {
  position: absolute;
  bottom: 10px;
}

.skatepark-detail .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 15px;
}

.skatepark-detail .hero span i {
  margin-right: 7.5px;
}

.skatepark-detail .hero > * {
  position: relative;
  z-index: 1;
}

.skatepark-detail .hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(black));
  background: linear-gradient(transparent 0%, transparent 75%, black 100%);
}

.skatepark-detail .skatepark-hours {
  margin-left: 20px;
  padding-bottom: 10px;
}

.skatepark-detail .skatepark-address {
  padding: 20px;
}

.skatepark-detail .skatepark-address i {
  margin-right: 10px;
}

.skatepark-detail .skatepark-address-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skatepark-detail .skatepark-address-map {
  width: 100%;
}

.skatepark-detail .skatepark-address-map iframe {
  width: 100%;
}

.skatepark-detail .reviews {
  padding-top: 20px;
}

.skatepark-detail .reviews-list-heading {
  margin-bottom: 20px;
}

.skatepark-detail .reviews .review {
  border: 1px solid lightgrey;
  background-color: #00ff00;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.skatepark-detail .reviews .review .review-heading {
  margin-bottom: 2.5px;
}

.skatepark-detail .reviews .review .review-body {
  margin-bottom: 10px;
}

.skatepark-detail .reviews .review .review-author {
  font-size: var(--small);
  color: grey;
}

.skatepark-detail .reviews .review .review-rating {
  display: inline-block;
  padding-bottom: 10px;
  color: var(--yellow);
}

.btn {
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  background-color: var(--light);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-hero {
  padding: 20px 30px;
  font-size: var(--h3);
}

.btn:hover {
  color: white;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:focus, .btn-primary:hover {
  background-color: var(--primary-light);
}

.btn i {
  margin-right: 10px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-primary {
  color: var(--primary);
}

.overlay {
  position: relative;
}

.overlay > * {
  position: relative;
  z-index: 1;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay-dark::after {
  background-color: black;
  opacity: .3;
}

.overlay-light::after {
  background-color: white;
  opacity: .2;
}
/*# sourceMappingURL=style.css.map */